 
        @font-face {
            font-family: 'saint carell';
            src: url(./saint_carell/SaintCarellClean_PERSONAL_USE_ONLY.otf);
            text-transform: lowercase;
        }
        body {
            font-family: Poppins;
            color: #3a3a3a;
        }

        .why-choose{
            background-color: #F0F1EF;
        }

        /* TOP BAR */
        .top-bar {
            background: #a79b88;
            color: #fff;
            font-size: 14px;
            padding: 6px 100px;
        }

        /* NAVBAR */
        .navbar {
            background: #fff;
            padding:5px 100px;
        }

        .navbar .btn-book {
            background: #FFD08C;
            border-radius: 16px;
            padding: 12px 26px;
        }

        /* HERO */
        .hero {
            background: url('hero.jpg') center/cover no-repeat;
            height: 90vh;
            position: relative;
          
        }

        .hero::before {
            content: "";
            position: absolute;
            inset: 0;
            background: rgba(170, 185, 150, 0.75);
        }

        .hero-content {
            position: relative;
            z-index: 2;
            color: #fff;
            text-align: center;
        }

        .hero h1 {
            
            color: rgb(255, 255, 255);
            font-size: 50px;
            font-family: 'saint carell';
        }

        .hero p {
            max-width: 860px;
            margin: auto;
            font-size: 20px;
            font-weight:lighter;
            font-family: poppins;
            text-transform: capitalize;
        }

        /* BUTTONS */
        .btn-primary-custom {
            background: #FFD08C;
            border: none;

        }

        .btn-rule{
            padding: 16px 26px;
            font-size: 16px;
            border-radius: 16px;
        }

        .btn-outline-custom {
            border: 1px solid #fff;
            color: #fff;
            background-color: transparent;
           
        }


        /* SECTION TITLE */

        .section{
            padding: 98px 107px;
        }
        .section-top{
            border: 1px solid black;
            font-size: 20px;
            background-color: transparent;
            color: black;
            border-radius: 100px;
            padding: 8px 20px;
           
        }
        .section-title {
            font-family: 'saint carell';
            font-weight: normal;
            font-size: 36px;
            line-height: 52px;
            letter-spacing: 5px;
        }

        .small {
            font-size: 16px;
            text-transform: capitalize;
        }


        .feature-card {
            border:none;
            border-radius: 16px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 16px;

        }

        .feature-card p {
            font-size: 14px;
            font-weight: 500;
            margin: 0;
        }
        .feature-card img {
            width: 100%;
            margin-bottom: 5px;
            border-radius: 16px;
        }

        /* GREEN SECTION */
        .green-section {
            background: rgba(157, 175, 137, 0.45);
            color: #2f2f2f;
        }


    .service-img {
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
    height: 350px;
    transition: 0.4s ease;
}

.accordion-button {
    background: transparent;
    font-weight: 600;
    font-size: 18px;
    box-shadow: none !important;
    border: none;
    
}

.accordion-button:not(.collapsed) {
    background: #8a9b7a;
    color: #fff;
    border: none;
    border-radius: 16px 16px 0 0 !important;
}

.accordion-item:not(:last-child) {
    border-bottom: 1px solid #333;
}

.accordion-item{
    border:none;
    margin-bottom: 10px;
}



.accordion-body {
    background: #8a9b7a;
    color: #fff;
    text-align:start;
    font-size:14px;
    font-weight: 300;
    border-radius: 0 0 15px 15px;
}


        /* CTA */
        .cta {
            padding: 60px 0;
        }

        .cta-panel {
            /* background: #aeb99a; */
            background-image: url(./cta-bg.png);
            color:white;
            text-align:center;
            padding: 40px;
            border-radius: 24px;
        }
        .cta-title{
            font-family:poppins;
            text-transform: sentence-case;
            font-weight: bold;
            padding: 0px 20px;
            font-size: 32px;

            line-height: 52px;
        }
        .cta-subtitle{
            font-family:poppins;
            text-transform: sentence-case;
            padding: 0px 20px;
            font-weight:normal;
            font-size: 20px;
            line-height: 28px;
        }
        /* CONTACT */
        .contact-section {
            background: #aeb99a;
            padding: 60px 0;
        }

        .form-box {
            background: #fff;
            padding: 30px;
            border-radius: 0px;
        }

        .form-control {
            border-radius: 20px;
        }

        /* FOOTER */
        footer {
            background: #000;
            height: 80px;
        }
 